# --- Python / Django ---
*.py[cod]
__pycache__/
.env
db.sqlite3
media/
static_root/
venv/
ENV/
# --- Operating System Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
.env
db.sqlite3

# Frameworks
.vscode/
node_modules/

# Django specific
local_settings.py
db.sqlite3-journal

pravacy.txt
file.txt